*.opendb
*.VC.db
packages
obj
bin
target
Debug
Release
*.user
*.suo
*_wrap.h
*_wrap.cxx
*.nupkg
LibLogicalAccessNet/Generated/*.cs
LibLogicalAccessNet/Generated/*/*.cs
*.sdf
*opensdf
.vs
/LibLogicalAccessNet.win32/*.filters
