*.opendb
*.VC.db
packages
obj
bin
target
Debug
Release
*.user
*.suo
*_wrap.h
*_wrap.cxx
*.nupkg
*.obj
*.idb
*.pdb
*.tlog
*.log
LibLogicalAccessNet/Generated/*.cs
LibLogicalAccessNet/Generated/*/*.cs
!LibLogicalAccessNet/Generated/.gitkeep
!LibLogicalAccessNet/Generated/Card/.gitkeep
!LibLogicalAccessNet/Generated/Core/.gitkeep
!LibLogicalAccessNet/Generated/Reader/.gitkeep
LibLogicalAccessNet/Exception/*.cs
!LibLogicalAccessNet/Exception/CustomException.cs
*.sdf
*opensdf
.vs
/LibLogicalAccessNet.win32/*.filters
