*.opendb
*.VC.db
packages
obj
bin
target
Debug
Release
*.user
*.suo
*_wrap.h
*_wrap.cxx
*.nupkg
*.obj
*.idb
*.pdb
*.tlog
*.log
sources/LibLogicalAccessNet/Generated/*.cs
sources/LibLogicalAccessNet/Generated/*/*.cs
sources/!LibLogicalAccessNet/Generated/.gitkeep
sources/!LibLogicalAccessNet/Generated/Card/.gitkeep
sources/!LibLogicalAccessNet/Generated/Core/.gitkeep
sources/!LibLogicalAccessNet/Generated/Reader/.gitkeep
sources/LibLogicalAccessNet/Exception/*.cs
sources/!LibLogicalAccessNet/Exception/CustomException.cs
*.sdf
*opensdf
.vs
sources/LibLogicalAccessNet.win32/*.filters
installer/LibLogicalAccessNet-cache
installer/LibLogicalAccessNet-SetupFiles
/installer/output
/installer/VERSION
/installer/build.*
sources/LibLogicalAccessNet.win32/build/
sources/LibLogicalAccessNet.win32/bin/
/installer/conanbuildinfo.txt
/installer/conaninfo.txt
/installer/conan_imports_manifest.txt
/installer/conan.lock
/installer/graph_info.json
/CC_
